---
---

@import '../_sass/index';

@import '../_sass/components/pagination';
@import '../_sass/components/blogpost';
@import '../_sass/components/post-list';

.post-list {
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);

  @media #{$tablet} {
    &__item {
      .blogpost {
        &__image {
          margin-bottom: 1rem;

          img {
            width: 100vw;
            max-height: 12rem;
            margin-left: 50%;
            transform: translate(-50%);
          }
        }
      }

      & + li {
        margin-top: 2rem;
      }
    }
  }

  @media #{$m_tablet} {
    &__item {
      padding: 0;
      height: 100vh;

      .blogpost {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: flex-start;

        &__image,
        &__info {
          flex-basis: 50%;
          width: 50%;
        }

        &__info {
          padding: 0 4rem;
        }

        &,
        &__image,
        img {
          height: 100%;
        }
      }

      &:nth-child(even) {
        .blogpost {
          flex-flow: row-reverse wrap;
        }
      }
    }
  }
}

.section {
  &--list {
    padding-top: 0;

    ul {
      li {
        &:first-child {
          padding-top: 0;
        }

        span {
          @extend %anchor;
        }
      }
    }
  }
}
