---
---

@import '../_sass/index';

.section {
  &--intro {
    align-items: center;
    justify-content: center;
    flex: 1;

    &,
    .container {
      display: flex;
      flex-direction: column;
    }

    .container {
      align-items: flex-start;
      justify-content: flex-start;
    }

    h1 {
      margin-bottom: 2rem;
      font-size: 0;
      color: transparent;
      text-indent: -9999px;

      img {
        max-width: 12rem;
      }
    }

    h2 {
      margin-bottom: 2rem;
      @include responsive-font-size(1.25rem, 2rem);
    }

    p {
      margin-bottom: 0.25rem;

      strong {
        color: $white;
        text-decoration: underline;
      }
    }

    ul {
      margin: 1rem -0.5rem 0;
      justify-content: flex-start;
    }
  }
}
