---
---

@import '../_sass/index';
@import '../_sass/components/portfolio';

.section {
  &--list {
    ul {
      display: flex;
      flex-flow: row wrap;
      align-items: stretch;
      justify-content: flex-start;

      li {
        flex-basis: 100%;
        padding: 1rem 0;
      }
    }

    @media #{$tablet} {
      ul {
        li {
          border-bottom: 1px solid $tundora;

          & + li {
            margin-top: 2rem;
          }
        }
      }
    }

    @media #{$m_tablet} {
      ul {
        margin: 0 -1rem;

        li {
          flex-basis: 33.3333333333%;
          padding: 1rem;
        }
      }
    }
  }
}
