---
layout: default
title: Portfolio
slug: portfolio
language: pt-br
en: /portfolio
---

<div class="section section--headline">
  <div class="container">
    <h1>Portfólio.</h1>
    <p>Esses são os meus trabalhos mais recentes; dê uma olhada neles.</p>
  </div>
</div>

<div class="section section--list">
  <div class="container">
    <ul>
      {% for job in site.portfolio %}
        {% if job.language == page.language %}
          <li>
            <div class="portfolio">
              <div class="portfolio__header">
                <img src="/img/portfolio/{{ job.name }}.jpg" alt="{{ job.title }}">

                <div class="portfolio__title">
                  <h3>
                    <a href="{{ job.link }}" target="_blank" rel="noopener noreferrer">{{ job.title }}</a>
                  </h3>

                  {% if job.year %}
                    <small>{{ job.year }}</small>
                  {% endif %}
                </div>
              </div>
              
              <div class="portfolio__description">
                {{ job.excerpt }}
              </div>

              <div class="portfolio__meta">
                {% for stack in job.stack %}
                  <span class="portfolio__tag portfolio__tag--{{ stack | slugify }}">{{ stack }}</span>
                {% endfor %}

                {% if job.github %}
                  <span class="portfolio__tag portfolio__tag--os">open source</span>
                {% endif %}
              </div>

              <div class="portfolio__links">
                <a href="{{ job.link }}" target="_blank" rel="noopener noreferrer">Ver projeto &rarr;</a>
              </div>
            </div>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
