
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

html,
body {
  height: auto;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
button,
form,
fieldset {
  margin: 0;
  padding: 0;
}

button {
  border: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: initial;
}

a,
button {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
}

a:hover,
  a:focus,
  a:active,
  button:hover,
  button:focus,
  button:active {
    outline: none;
  }

img {
  display: block;
  max-width: 100%;
  pointer-events: none;
}

video {
  pointer-events: none;
}

input,
textarea,
select {
  font-size: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none
}

input:focus, textarea:focus, select:focus {
    outline: none;
  }

ul,
ol {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

video {
  width: 100%;
}

table {
  border: none;
  border-collapse: collapse;
  width: 100%;
}

form {
  width: 100%;
  border: none;
}

fieldset {
  border: none;
}

hr {
  border: none;
}
html,
body {
  background-color: #26282b;
  color: #fff;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}
*:before,
  *:after {
    display: none;
    content: '';
  }
.page a, .footer a {
    color: #ff7827;
  }
.page p + p {
    margin-top: 1rem;
  }
.root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-height: 100vh;
}
a {
  text-decoration: none
}
a:hover {
    text-decoration: underline;
  }
hr {
  display: block;
  height: 1px;
  margin: 1rem 0;
  background-color: #50555f;
}
ul.decorated li {
    list-style: inside disc;
  }
h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  line-height: 1.32;
}
h1 {
  font-size: calc(2.5rem + 1 * ((100vw - 18.75rem) / 56.25));
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 75rem) {

    h1 {
        font-size: 3.5rem;
    }
}
@media screen and (max-width: 18.75rem) {

    h1 {
        font-size: 2.5rem;
    }
}
h2 {
  font-size: calc(2rem + 0.5 * ((100vw - 18.75rem) / 56.25));
  margin-bottom: 1.125rem;
}
@media screen and (min-width: 75rem) {

    h2 {
        font-size: 2.5rem;
    }
}
@media screen and (max-width: 18.75rem) {

    h2 {
        font-size: 2rem;
    }
}
h3 {
  font-size: calc(1.5rem + 0.5 * ((100vw - 18.75rem) / 56.25));
  margin-bottom: 1.125rem;
}
@media screen and (min-width: 75rem) {

    h3 {
        font-size: 2rem;
    }
}
@media screen and (max-width: 18.75rem) {

    h3 {
        font-size: 1.5rem;
    }
}
h4 {
  font-size: calc(1.125rem + 0.375 * ((100vw - 18.75rem) / 56.25));
  margin-bottom: 1.125rem;
}
@media screen and (min-width: 75rem) {

    h4 {
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 18.75rem) {

    h4 {
        font-size: 1.125rem;
    }
}
h5 {
  font-size: calc(1rem + 0.125 * ((100vw - 18.75rem) / 56.25));
}
@media screen and (min-width: 75rem) {

    h5 {
        font-size: 1.125rem;
    }
}
@media screen and (max-width: 18.75rem) {

    h5 {
        font-size: 1rem;
    }
}
h6 {
  font-size: 1rem;
}
p,
li {
  font-size: calc(0.875rem + 0.25 * ((100vw - 18.75rem) / 56.25));
  line-height: 1.56;
}
@media screen and (min-width: 75rem) {

    p,
li {
        font-size: 1.125rem;
    }
}
@media screen and (max-width: 18.75rem) {

    p,
li {
        font-size: 0.875rem;
    }
}
small {
  font-size: 80%;
}
