body {
  background-color: $woodsmoke;
  color: $white;

  &,
  .page {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
  }

  .page {
    flex: 1;
  }
}

a,
.anchor {
  color: $sunset;
}

.page {
  position: relative;
  overflow: hidden;

  &:after {
    position: absolute;
    bottom: -2rem;
    right: 0;
    display: block;
    width: 10rem;
    height: 15rem;
    background: url('/img/97.svg') no-repeat 0 0 / contain;
  }

  @media #{$m_tablet} {
    &:after {
      bottom: -4rem;
      width: 20rem;
      height: 30rem;
    }
  }
}

article {
  header {
    margin-bottom: 2rem;
  }

  main {
    img {
      width: auto;
      max-width: 100%;
      margin: 2rem auto;
    }
  }
}
