h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: calc(100% + 4px);
}

p,
li,
code,
small {
  line-height: calc(100% + 10px);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
}

h1 {
  @include responsive-font-size(3.5rem, 6rem);
}

h2 {
  @include responsive-font-size(2.875rem, 4rem);
}

h3 {
  @include responsive-font-size(1.875rem, 2.5rem);
}

h4 {
  @include responsive-font-size(1.875rem, 2rem);
}

h5 {
  @include responsive-font-size(1.5rem, 1.875rem);
}

h6 {
  @include responsive-font-size(1.125rem, 1.5rem);
}

p,
li,
code {
  @include responsive-font-size(0.875rem, 1.125rem);
}
