@import '../index';

body {
  background-color: $black;
  background-image: url('../img/noise.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section {
  &--content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgba($black, 0.8);
    text-align: center;

    &,
    .menu a {
      color: $white;
    }

    .menu {
      margin-top: 2rem;
    }

    img {
      max-width: 18rem;
      margin: 0 auto;
    }
  }
}
