@import '../index';

body {
  background-color: $black;
  background-image: url('/img/headroom.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.page {
  &:after {
    display: none;
  }
}

.section {
  &--content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgba($black, 0.8);
    text-align: center;
    color: $white;

    .menu {
      margin-top: 2rem;
    }

    img {
      max-width: 18rem;
      margin: 0 auto 4rem;
    }
  }
}
