@import '../index';

.section--list,
.section--cml,
.footer {
  background-color: $grey--light;
}

.section {
  &--headline {
    .button {
      margin-top: 1rem;
    }
  }

  &--list {
    &:before {
      position: absolute;
      top: -2rem;
      left: 0;
      display: block;
      width: 100%;
      height: calc(100% + 10rem);
      background-color: $white;
      transform: skewY(-2deg);
      z-index: 1;
    }

    .section {
      &__topic {
        margin-bottom: 4rem;

        h2 {
          margin-bottom: 2rem;
        }
      }
    }
  }

  &--cml {
    padding-top: 0;

    .block-heading {
      &:before {
        background-image: url('../img/heroes/coding.jpg');
      }
    }

    @media #{$m_tablet} {
      .section__content {
        max-width: 83.3333333333%;
        margin: 0 auto;
      }
    }
  }
}

.list {
  &__item {
    & + .list__item {
      margin-top: 2rem;
    }
  }
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  &__header {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 0.5rem;

    img {
      width: 4rem;
      height: 4rem;
      margin-right: 1rem;
      border-radius: 2px;
      border: 1px solid $black;
      padding: 0.5rem;
      object-fit: contain;
    }
  }

  &__body {
    padding-bottom: 1rem;
    border-bottom: 1px solid $black;
  }

  &__title {
    flex-basis: calc(100% - 5rem);
  }

  &__name {
    margin-bottom: 0.25rem;
  }

  &__date {
    margin-bottom: 0;
    font-size: 0.875rem;
  }

  @media #{$m_tablet} {
    &__body {
      align-self: flex-end;
      flex-basis: calc(100% - 5rem);
      width: calc(100% - 5rem);
    }
  }
}
