@import '../index';

@import '../components/pagination';

.post-list {
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);

  @media #{$tablet} {
    &__item {
      .post {
        &__image {
          margin-bottom: 1rem;

          img {
            width: 100vw;
            max-height: 12rem;
            margin-left: 50%;
            transform: translate(-50%);
          }
        }
      }

      & + li {
        margin-top: 2rem;
      }
    }
  }

  @media screen and (min-width: $m_tablet_width) {
    &__item {
      padding: 0;
      height: 100vh;

      .post {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: flex-start;

        &__image,
        &__info {
          flex-basis: 50%;
          width: 50%;
        }

        &__info {
          padding: 0 4rem;
        }

        &,
        &__image,
        img {
          height: 100%;
        }
      }

      &:nth-child(even) {
        .post {
          flex-flow: row-reverse wrap;
        }
      }
    }
  }
}
