@import '../index';

.section {
  &--intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;

    .container {
      text-align: center;
    }

    h1 {
      font-size: 0;
      color: transparent;
      text-indent: -9999px;

      img {
        max-width: 12rem;
        margin: 0 auto;
      }
    }
  }
}
