@import '../index';

.section {
  &--content {
    padding-top: 1rem;

    .section {
      &__backlink {
        display: inline-block;
        margin-bottom: 1.5rem;
        font-size: 0.875rem;
      }
    }

    .portfolio {
      &__image {
        margin: 2rem 0;

        img {
          width: 100vw;
          max-height: 38rem;
          margin-left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}

article {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;

  header {
    flex-basis: 100%;
    width: 100%;
  }

  main {
    flex-basis: 100%;
    width: 100%;
  }

  aside {
    flex-basis: 100%;
    width: 100%;
    margin-top: 1rem;
    padding-top: 2rem;
    border-top: 1px solid $sunset;
  }

  @media #{$m_tablet} {
    main {
      flex-basis: 65%;
      width: 65%;
      padding-right: 2rem;
    }

    aside {
      flex-basis: 35%;
      width: 35%;
      margin: 0;
      padding: 0 0 0 2rem;
      border-top: none;
      border-left: 1px solid $sunset;
    }
  }
}
