---
layout: default
title: Experience
permalink: /about/experience
slug: experience
language: en
pt-br: /pt-br/sobre/experiencia
---

<div class="section section--headline">
  <div class="container">
    <h1>Experience.</h1>
    <p>Below you can find more information about my working experience and my academic history.</p>

    <p>You can also find these information on <a href="{{ site.linkedin.url }}" target="_blank" rel="noopener noreferrer">my LinkedIn profile</a>.</p>
  </div>
</div>

<div class="section section--work">
  <div class="container">
    <h2>Work experience.</h2>

    <ul>
    {% for item in site.data['work-experience'] %}
      <li class="list__item">
        <div class="info">
          <div class="info__header">
            <img src="/img/work-experience/{{ item.img }}.svg" alt="{{ item.name }}">

            <div class="info__title">
              <h4 class="info__name">{{ item.name }}</h4>
              <p class="info__date">{{ item.role }} | {{ item.date }}</p>
            </div>
          </div>

          <div class="info__body">
            <div class="info__text">
              {{ item.text.en }}
            </div>
          </div>
        </div>
      </li>
    {% endfor %}
    </ul>
  </div>
</div>

<div class="section section--academics">
  <div class="container">
    <h2>Academic history.</h2>

    <ul>
    {% for item in site.data['academics'] %}
      <li class="list__item">
        <div class="info">
          <div class="info__header">
            <img src="/img/academics/{{ item.img }}.svg" alt="{{ item.name.en }}">

            <div class="info__title">
              <h4 class="info__name">{{ item.name.en }}</h4>
              <p class="info__date">{{ item.institution }} | {{ item.date }}</p>
            </div>
          </div>

          <div class="info__body">
            <div class="info__text">
              {{ item.text.en }}
            </div>
          </div>
        </div>
      </li>
    {% endfor %}
    </ul>
  </div>
</div>
