---
layout: default
title: Uses
permalink: /pt-br/uses
slug: uses
language: pt-br
en: /uses
---

<div class="section section--headline">
  <div class="container">
    <h1>Uses.</h1>
    <p>Ferramentas, dispositivos, aparelhos - eu uso várias coisas para criar e compartilhar. Aqui estão algumas delas:</p>
  </div>
</div>

<div class="section section--list">
  <div class="container">
    {% for category in site.data.uses %}
    <div class="section__topic">
      <h3>{{ category.pt-br }}</h3>

      <ul>
        {% for item in category.items %}
        <li>
          <span>{{ item.key.pt-br }}</span>: {{ item.value.pt-br }}
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </div>
</div>

<div class="section section--this">
  <div class="container">
    <div class="section__text">
      <h2>Este website.</h2>
      <p>Para criar esse website e o blog, eu usei as seguintes coisas:</p>
    </div>

    {% for category in site.data.website %}
    <div class="section__topic">
      <h3>{{ category.pt-br }}</h3>

      {% for item in category.items %}
      <ul>
        <li>
          <a href="{{ item.link }}" target="_blank" rel="noopener noreferrer">{{ item.name }}</a> {{ item.for.pt-br }}
        </li>
      </ul>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</div>