---
layout: default
title: Blog
slug: blog
language: en
pt-br: /pt-br/blog
---

<div class="section section--headline">
  <div class="container">
    <h1>Blog.</h1>
    <p>Technology, career tips, development trends, tutorials - here you’ll find a lot of these!</p>

    <!-- <a href="{{ "/feed.xml" | relative_url }}" class="button">RSS Feed</a> -->
  </div>
</div>

<div class="section section--list">
  <div class="container">
    {% if site.posts.size > 0 %}
      
      <ul class="post-list">
        {% for post in paginator.posts %}
        <li class="post-list__item">
          <a href="{{ post.url | relative_url }}">
            {% include post/card.html post=post %}
          </a>
        </li>
        {% endfor %}
      </ul>

      <div class="pagination">
        {% if paginator.previous_page %}
        <a class="pagination__link pagination__link--prev" href="{{ paginator.previous_page_path }}">
          Previous
        </a>
        {% else %}
        <span class="pagination__link pagination__link--disabled pagination__link--prev">
          Previous
        </span>
        {% endif %}

        <span class="pagination__current">
          Page: {{ paginator.page }} of {{ paginator.total_pages }}
        </span>

        {% if paginator.next_page %}
        <a class="pagination__link pagination__link--next" href="{{ paginator.next_page_path }}">
          Next
        </a>
        {% else %}
        <span class="pagination__link pagination__link--disabled pagination__link--next">
          Next
        </span>
        {% endif %}
      </div>
    {% endif %}
  </div>
</div>
