$woodsmoke: #0e1111;
$tundora: #4a4a4a;
$shark: #202222;
$white: white;

$grey--light: #f1f2f3;
$grey: #d9dbdc;
$dark: #5e5f5d;
$black: black;

$blue: #585ce4;
$green: #82efcb;
$sunset: #f44647;

$text: #8f8f8f;
