$phone: 'screen and (max-width: ' + $phone_width + ')';
$m_phone: 'screen and (min-width: ' + $m_phone_width + ')';

$tablet: 'screen and (max-width: ' + $tablet_width + ')';
$m_tablet: 'screen and (min-width: ' + $m_tablet_width + ')';

$medium: 'screen and (max-width: ' + $medium_width + ')';
$m_medium: 'screen and (min-width: ' + $m_medium_width + ')';

$desktop: 'screen and (max-width: ' + $desktop_width + ')';
$m_desktop: 'screen and (min-width: ' + $m_desktop_width + ')';
