$grid_width: 70rem;
$blog_list_width: 150rem;

$phone_width: 34.9375rem;
$m_phone_width: 35rem;

$tablet_width: 47.9375rem;
$m_tablet_width: 48rem;

$medium_width: 61.9375rem;
$m_medium_width: 62rem;

$desktop_width: 63.9375rem;
$m_desktop_width: 64rem;
