---
layout: default
title: Experiência
permalink: /pt-br/sobre/experiencia
slug: experience
language: pt-br
en: /about/experience
---

<div class="section section--headline">
  <div class="container">
    <h1>Experiência.</h1>
    <p>Aqui você vai encontrar mais informações sobre minha experiência de trabalho, junto com minha formação acadêmica.</p>

    <p>Essas informações você também pode encontrar no <a href="{{ site.linkedin.url }}" target="_blank" rel="noopener noreferrer">meu perfil do LinkedIn</a>.</p>
  </div>
</div>

<div class="section section--work">
  <div class="container">
    <h2>Experiência de trabalho.</h2>

    <ul>
    {% for item in site.data['work-experience'] %}
      <li class="list__item">
        <div class="info">
          <div class="info__header">
            <img src="/img/work-experience/{{ item.img }}.svg" alt="{{ item.name }}">

            <div class="info__title">
              <h4 class="info__name">{{ item.name }}</h4>
              <p class="info__date">{{ item.role }} | {{ item.date }}</p>
            </div>
          </div>

          <div class="info__body">
            <div class="info__text">
              {{ item.text.pt-br }}
            </div>
          </div>
        </div>
      </li>
    {% endfor %}
    </ul>
  </div>
</div>

<div class="section section--academics">
  <div class="container">
    <h2>Formação acadêmica.</h2>

    <ul>
    {% for item in site.data['academics'] %}
      <li class="list__item">
        <div class="info">
          <div class="info__header">
            <img src="/img/academics/{{ item.img }}.svg" alt="{{ item.name.pt-br }}">

            <div class="info__title">
              <h4 class="info__name">{{ item.name.pt-br }}</h4>
              <p class="info__date">{{ item.institution }} | {{ item.date }}</p>
            </div>
          </div>

          <div class="info__body">
            <div class="info__text">
              {{ item.text.pt-br }}
            </div>
          </div>
        </div>
      </li>
    {% endfor %}
    </ul>
  </div>
</div>
