<div class="blogpost">
  <div class="blogpost__image">
    {% assign post_image = post.image_src | default: "/img/heroes/moleskine.jpg" %}
    <img src="{{ post_image }}" alt="{{ post.title | escape }}" onload="this.classList.add('loaded');">
  </div>

  <div class="blogpost__info">
    {% assign postContent=post.content %}
    {% include post/meta.html post=post postContent=postContent %}

    <h3 class="blogpost__title">{{ post.title | escape }}</h3>

    {% if site.show_excerpts %}
    <div class="blogpost__excerpt">
      {{ post.excerpt }}
    </div>
    {% endif %}

    <span>
      {% if page.language == 'pt-br' %} Leia mais {% else %} Read more {% endif %}
    &rarr;</span>
  </div>
</div>