<div class="post__meta">
  <p class="post__date">
    <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

      {{ post.date | date: date_format }}
    </time>
  </p>

  {% capture words %}
    {{ postContent | number_of_words | minus: 180 }}
  {% endcapture %}

  {% if words contains '-' %}
    {% assign time="1" %}
  {% else %}
    {% assign time=words | plus: 150 | divided_by: 150 %}
  {% endif %}
  <p class="post__read-time">{{ time }} min read</p>

  <p class="post__category">{{ post.category | capitalize }}</p>
</div>