.footer {
  position: relative;
  padding: 1rem 0;
  background-color: $black;
  border-top: 1px solid $shark;

  .container {
    text-align: right;
  }

  p {
    margin-bottom: 0.25rem;
    font-size: 0.875rem;
  }

  small {
    color: $white;
  }
}
