.menu {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;

  li {
    & + li {
      margin-left: 1rem;
    }
  }

  &__item {
    &--active {
      a {
        &:after {
          width: 100%;
          background-color: $sunset;
        }
      }
    }
  }
}
