.portfolio {
  position: relative;

  &__title {
    color: $white;
  }

  &__image {
    img {
      object-fit: cover;
    }
  }

  &__anchor {
    font-family: $font_title;
  }

  &__meta {
    ul {
      li {
        list-style: disc inside;
        color: $white;

        span {
          font-family: $font_title;
          font-weight: bold;
        }
      }
    }

    a {
      font-family: $font_title;
    }
  }
}
