.post-list {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: flex-start;
  margin: 0 -1rem;

  &__item {
    flex-basis: 100%;
    width: 100%;
    padding: 1rem;

    a {
      display: block;
      height: 100%;
      color: $white;
      text-decoration: none;
    }
  }
}
