.section {
  position: relative;
  padding: 2rem 0;

  &--headline {
    padding-top: 8rem;

    &:before {
      position: absolute;
      top: 0;
      left: -1rem;
      display: block;
      width: 18rem;
      height: 5rem;
      background: url('/img/logo-grey.svg') no-repeat center/contain;
    }

    p {
      max-width: 85%;
    }
  }

  @media #{$m_tablet} {
    &--headline {
      padding-top: 16rem;

      &:before {
        top: 2rem;
        left: 8rem;
        width: 26rem;
        height: 10rem;
      }
    }
  }
}
