.section {
  position: relative;
  padding: 2rem 0;

  &--headline {
    padding-top: 10rem;

    &:before {
      position: absolute;
      top: 2rem;
      left: 0;
      display: block;
      width: 13rem;
      height: 5rem;
      background: url('/img/brand/logo-grey.svg') no-repeat center/contain;
    }
  }

  &__text {
    max-width: 95%;
  }

  &__title {
    margin-bottom: 2rem;
  }

  @media #{$m_tablet} {
    padding: 4rem 0;

    &--headline {
      padding-top: 18rem;

      &:before {
        top: 4rem;
        left: 0;
        width: 26rem;
        height: 10rem;
      }
    }

    &__text {
      max-width: 80%;
    }
  }
}
