---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.language | default: site.language | default: "en" }}">
<head>
  {% include meta/head.html %}
  <link rel="stylesheet" href="{{ site.baseurl }}/css/post.css">
</head>
<body>
  {% include layout/header.html %}

  <div class="page">
    <div class="section section--headline">
      <div class="container">
        {% if page.language == 'pt-br' %}
        <a href="/pt-br/blog" class="section__backlink">&larr; Ver todos os artigos</a>
        {% else %}
        <a href="/blog" class="section__backlink">&larr; See all posts</a>
        {% endif %}
      </div>
    </div>

    <div class="section section--content">
      <div class="container">
        <article class="blogpost" itemscope itemtype="http://schema.org/BlogPosting">
          <header class="blogpost__header">
            <div class="blogpost__info">
              <h1 class="blogpost__title" itemprop="name headline">{{ page.title | escape }}</h1>

              {% assign post = page %}
              {% assign postContent = content %}
              {% include post/meta.html post=post postContent=postContent %}
            </div>

            {% if page.image_src %}
            <div class="blogpost__image">
              <figure>
                <img src="{{ page.image_src }}" alt="{{ page.title | escape }}" onload="this.classList.add('loaded');">
                
                {% if page.image_author %}
                <figcaption>
                  {% if page.language == 'pt-br' %}
                  Foto por
                  {% else %}
                  Photo by
                  {% endif %}

                  {{ page.image_author }}

                  {% if page.language == 'pt-br' %}
                  no
                  {% else %}
                  on
                  {% endif %}
                  <a href="{{ page.image_from_url }}" target="_blank" rel="noopener noreferrer">{{ page.image_from }}</a>
                </figcaption>
                {% endif %}
              </figure>
            </div>
            {% endif %}
          </header>

          <div class="blogpost__body" id="blogpost">
            <main class="blogpost__content" itemprop="articleBody">
              {{ content | remove: page.excerpt }}
            </main>

            <div class="blogpost__share">
              {% assign shareText = "Share on" %}
              {% if page.language == 'pt-br' %}
                {% assign shareText = "Compartilhar no" %}
              {% endif %}

              {% assign post_url = page.url | absolute_url %}

              <ul class="list">
                <li>
                  <a href="https://www.facebook.com/sharer/sharer.php?u={{ post_url }}&title={{ page.title }}&description={{ page.excerpt | strip_html }}" target="_blank" rel="noopener noreferrer" title="{{ shareText }} Facebook">
                    <img src="/img/social/facebook.svg" alt="Facebook">
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ post_url }}&related={{ site.twitter.username }}" target="_blank" rel="noopener noreferrer" title="{{ shareText }} Twitter">
                    <img src="/img/social/twitter.svg" alt="Twitter">
                  </a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ post_url }}&title={{ page.title }}&summary={{ page.excerpt | strip_html }}" target="_blank" rel="noopener noreferrer" title="{{ shareText }} LinkedIn">
                    <img src="/img/social/linkedin.svg" alt="LinkedIn">
                  </a>
                </li>
                <li>
                  <a href="mailto:info@example.com?&subject={{ page.title }}&body={{ post_url }}" target="_blank" rel="noopener noreferrer" title="{{ shareText }} your email">
                    <img src="/img/social/mail.svg" alt="Mail">
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="blogpost__progress">
            <div class="container">
              <p>{{ page.title }}</p>
            </div>

            <span id="progress-indicator"></span>
          </div>
        </article>
      </div>
    </div>

    {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
      {% if posts.size == 0 %}
        {% assign posts=site.pages | where:"ref", page.ref | sort: 'lang' %}
      {% endif %}

      {% if posts.size > 1 %}
        <div class="section section--translations">
          <div class="container">
            <h6>
            {% if page.language == 'pt-br' %}
            Traduções disponíveis:
            {% else %}
            Available translations:
            {% endif %}
            </h6>

            <ul class="list">
            {% for post in posts %}
              {% unless post.language == page.language %}
                <li>
                  <a href="{{ site.base-url }}{{ post.url }}" title="View in {{ post.language }}">{{ post.language }}</a>
                </li>
              {% endunless %}
            {% endfor %}
            </ul>
          </div>
        </div>
      {% endif %}

    {% unless page.category == null %}
      {% capture pageCategory %}
        {{ page.category }}
      {% endcapture %}

      {% assign postsList = site.posts | where_exp:"post","post.url != page.url" %}
      {% assign relatedPosts = postsList | where_exp:"post","post.category == page.category" %}
      {% assign sameLanguagePosts = postsList | where_exp:"post","post.language == page.language" %}

      {% unless sameLanguagePosts.size == 0 %}
        <div class="section section--related">
          <div class="container">
            <h2>
            {% if page.language == 'pt-br' %} Vale a pena ler também {% else %} Worth reading too {% endif %}
            </h2>

            <ul class="post-list">
              {% for post in sameLanguagePosts limit:3 %}
                <li class="post-list__item">
                  {% assign postURL = site.baseurl | append: post.url %}
                  <a href="{{ postURL | to_absurl }}">
                    {% include post/card.html post=post %}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endunless %}
    {% endunless %}
  </div>

  {% include layout/footer.html %}

  <script src="https://cdn.jsdelivr.net/npm/prismjs@1.20.0/prism.min.js" defer></script>
  <script src="/js/index.js"></script>
</body>
</html>