---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.language | default: site.language | default: "en" }}">
<head>
  {% include meta/head.html %}
  {% assign stylePath = page.slug | prepend: '/css/' | append: '.css' %}
  <link rel="stylesheet" href="{{ stylePath | to_absurl }}">
  
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
  {% include layout/header.html %}

  <div class="page">
    {{ content }}
  </div>

  {% include layout/footer.html %}

  <script src="/js/index.js"></script>
</body>
</html>