---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.language | default: site.language | default: "en" }}">
<head>
  {% include meta/head.html %}
  <link rel="stylesheet" href="{{ site.baseurl }}/css/post.css">
</head>
<body>
  {% include layout/header.html %}

  <div class="page">
    <div class="section section--headline">
      <div class="container">
        {% if page.language == 'pt-br' %}
        <a href="/pt-br/blog" class="section__backlink">&larr; Ver todos os artigos</a>
        {% else %}
        <a href="/blog" class="section__backlink">&larr; See all posts</a>
        {% endif %}
      </div>
    </div>

    <div class="section section--content">
      <div class="container">
        <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
          <header class="post__header">
            <h1 class="post__title" itemprop="name headline">{{ page.title | escape }}</h1>
            {% assign post=page %}
            {% assign postContent=content %}
            {% include post/meta.html post=post postContent=postContent %}

            {% if page.image_src %}
            <div class="post__image">
              <figure>
                <img src="{{ page.image_src }}" alt="{{ page.title | escape }}" onload="this.classList.add('loaded');">
                
                {% if page.image_author %}
                <figcaption>
                  {% if page.language == 'pt-br' %}
                  Foto por
                  {% else %}
                  Photo by
                  {% endif %}

                  {{ page.image_author }}

                  {% if page.language == 'pt-br' %}
                  no
                  {% else %}
                  on
                  {% endif %}
                  <a href="{{ page.image_from_url }}" target="_blank" rel="noopener noreferrer">{{ page.image_from }}</a>
                </figcaption>
                {% endif %}
              </figure>
            </div>
            {% endif %}
          </header>

          <main class="post__content" itemprop="articleBody">
            {{ content | remove: page.excerpt }}
          </main>
        </article>
      </div>
    </div>

    {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
      {% if posts.size == 0 %}
        {% assign posts=site.pages | where:"ref", page.ref | sort: 'lang' %}
      {% endif %}

      {% if posts.size > 1 %}
        <div class="section section--translations">
          <div class="container">
            <h6>
            {% if page.language == 'pt-br' %}
            Traduções disponíveis:
            {% else %}
            Available translations:
            {% endif %}
            </h6>

            <ul class="list">
            {% for post in posts %}
              {% unless post.language == page.language %}
                <li>
                  <a href="{{ site.base-url }}{{ post.url }}" title="View in {{post.language}}">{{ post.language }}</a>
                </li>
              {% endunless %}
            {% endfor %}
            </ul>
          </div>
        </div>
      {% endif %}

    <div class="section section--share">
      <div class="container">
        <h6>
        {% if page.language == 'pt-br' %}
        Compartilhe este artigo:
        {% else %}
        Share this article
        {% endif %}
        </h6>

        {% assign post_url = page.url | absolute_url %}

        <ul class="list">
          <li>
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ post_url }}&title={{ page.title }}&description={{ page.excerpt }}" target="_blank" rel="noopener noreferrer">Facebook</a>
          </li>
          <li>
            <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ post_url }}&related={{ site.twitter.username }}" target="_blank" rel="noopener noreferrer">Twitter</a>
          </li>
          <li>
            <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ post_url }}&title={{ page.title }}&summary={{ page.excerpt }}" target="_blank" rel="noopener noreferrer">LinkedIn</a>
          </li>
        </ul>
      </div>
    </div>

    {% unless page.category == null %}
      {% capture pageCategory %}
        {{ page.category }}
      {% endcapture %}

      {% assign postsList = site.posts | where_exp:"post","post.url != page.url" %}
      {% assign relatedPosts = postsList | where_exp:"post","post.category == page.category" %}
      {% assign sameLanguagePosts = postsList | where_exp:"post","post.language == page.language" %}

      {% unless sameLanguagePosts.size == 0 %}
        <div class="section section--related">
          <div class="container">
            <h2>
            {% if page.language == 'pt-br' %}
            Vale a pena ler também
            {% else %}
            Worth reading too
            {% endif %}
            </h2>

            <ul class="post-list">
              {% for post in sameLanguagePosts limit:3 %}
                <li class="post-list__item">
                  <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">
                    {% include post/card.html post=post %}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endunless %}
    {% endunless %}
  </div>

  {% include layout/footer.html %}

  <script src="https://cdn.jsdelivr.net/npm/prismjs@1.20.0/prism.min.js" defer></script>
</body>
</html>