html,
body {
  background-color: #26282b;
  color: #fff;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

* {
  &:before,
  &:after {
    display: none;
    content: '';
  }
}

.page,
.footer {
  a {
    color: #ff7827;
  }
}

.page p {
  & + p {
    margin-top: 1rem;
  }
}

#root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-height: 100vh;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
